@charset "UTF-8";
body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
}
h1 {
    color: blueviolet;
    background-color: azure;
}
h2 {
    color: brown;
}
p {
    text-align: justify;
}